p {
    color: slateblue;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

h1 {
    font-size: 27px;
}

h2 {
    font-size: 170%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h3 {
    font-size: 130%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h4 {
    font-size: 130%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#contenedor{
	border:1px solid #aaa;
	background-color: crimson;
	margin:0 auto;
	width: 13%;
	height: 150px;
	}

.contenedor{
        background-color: rgb(255, 0, 162);
        /* display: inline-flex; */
        display: flex;
    }

.item{
        background-color: rgb(8, 174, 239);
        /* display: inline-flex; */
        display: flex;
    }