p {
    color: slateblue;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

h1 {
    font-size: 27px;
}

h2 {
    font-size: 170%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h3 {
    font-size: 130%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h4 {
    font-size: 130%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

img {
    position: sticky;
}